.modal {
  display: block;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.213);
  border-radius: 50%;
}

.modalcontent {
  background-color: #aca8a8f3;
  margin: 15% auto;
  padding: 20px;
  max-width: 1250px;
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.divtitulo > h2{
  padding-bottom: 10px;
  font-weight: bold;
}

.TextField {
  margin-right: 10px;
}

.btn {
  background: #2ea2b9;
}

.textFieldgrid {
  padding-right: 10px;
}

@media screen and (max-width: 768px) {
  .btn {
    background: #000000;
  }
}